#include <avr/pgmspace.h>

#include "push_dest.h"

char pachube_host[] PROGMEM = "api.pachube.com";
char pachube_url[] PROGMEM = "/v2/feeds/____________";
char pachube_auth[] PROGMEM = "X-PachubeApiKey: ______________________________________________";

PushDest pachube(0x01, 173, 203, 98, 29, 80, &pachube_host[0], &pachube_url[0], &pachube_auth[0]);

char haworks_host[] PROGMEM = "__________________";
char haworks_data_url[] PROGMEM = "/data.csv";
char haworks_message_url[] PROGMEM = "/message.csv";
char haworks_auth[] PROGMEM = "Authenticate: basic _______________________________________"
  
PushDest haworks_data(0x02, ___, ___, ___, ___, 80, &haworks_host[0], &haworks_data_url[0], &haworks_auth[0]);

PushMsgDest haworks_message(0x04, ___, ___, ___, ___, 80, &haworks_host[0], &haworks_message_url[0], &haworks_auth[0]);

